<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Author" content=" ">
    <title>Document</title>
    <style type="text/css">
        *{margin: 0;padding: 0;}
        a{text-decoration: none;}
        ul,li{list-style: none;}
        body{font-size: 14px;font-family: "微软雅黑";}
    </style>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div id="app">

        <div v-if="books.length">
            <table>
                <thead>
                    <th></th>
                    <th>书籍名称</th>
                    <th>出版日期</th>
                    <th>价格</th>
                    <th>购买数量</th>
                    <th>操作</th>
                </thead>
                <tbody>
                    <tr v-for="(item,index) in books">
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.date}}</td>
                        <td>{{item.price | showPrice}}</td>
                        <td>
                        <button @click="countAdd(index)">+</button>
                        {{item.count}}
                        <button @click="countReduce(index)" :disabled="item.count<=1">-</button>
                        </td>
                        <td>
                            <button @click="deleBook(index)">移除</button>
                        </td>
                        <!-- <td v-for="value in item">{{value}}</td> -->
                    </tr>
                </tbody>
            </table>

            <h2>总价格={{totalPrice | showPrice}}</h2>

        </div>
        <h2 v-else>购物车为空</h2>
    </div>



    <script src="../js/vue.js"></script>
    <script src="main.js"></script>
    <script type="text/javascript">

    </script>
</body>
</html>