<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Author" content=" ">
    <title>Document</title>
    <style type="text/css">
        *{margin: 0;padding: 0;}
        a{text-decoration: none;}
        ul,li{list-style: none;}
        body{font-size: 14px;font-family: "微软雅黑";}
    </style>
</head>
<body>

    <div id="app">

        <!-- 1.在遍历对象的过程中，如果只是获取一个值，那么获取到的是value -->
        <h2 v-for="item in info">{{item}}</h2>

        <!-- 2.获取key和value 格式：(key,value)-->
        <h2 v-for="(value,key) in info">{{key}}={{value}}</h2>

        <!-- 3.获取key和value和index 格式：(key,value,index)-->
        <h2 v-for="(value,key,index) in info">{{index+1}}.{{key}}={{value}}</h2>

    </div>

    <script src="../js/vue.js"></script>
    <script type="text/javascript">
            const app=new Vue({
                el:"#app",
                data:{
                    info:{
                        name:'111',
                        age:'18',
                        height:'50',
                    }
                }
            })
    </script>
</body>
</html>