<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Author" content=" ">
    <title>Document</title>
    <style type="text/css">
        *{margin: 0;padding: 0;}
        a{text-decoration: none;}
        ul,li{list-style: none;}
        body{font-size: 14px;font-family: "微软雅黑";}
    </style>
</head>
<body>


    <!-- 父组件模板 -->
    <div id="app">
    <cpn></cpn>
    <cpn>
        <template slot-scope="slot">
<!--             <span v-for="item in slot.data">
                {{item}} -
            </span> -->
            <span>
                {{slot.data.join(' - ')}}
            </span>
        </template>
<!--         <template v-slot:111qaz="data">
            <span v-for="item in data">
                {{item}} -
            </span>
        </template> -->
    </cpn>

    </div>
    <!-- 子组件模板 -->
    <template id="cpn">
         <div>
             <slot :data="language">
                <ul>
                    <li v-for="item in language">
                        {{item}}
                    </li>
                </ul>
            </slot>
        </div>
    </template>

    <script src="../js/vue.js"></script>
    <script type="text/javascript">

    //root 组件
            const app=new Vue({
                el:"#app",
                data:{

                },
                methods: {

                },
                components: {
                    cpn: {
                        template: "#cpn",
                        data() {
                            return {
                                language: ['Javascript','C++','Java','C#','Python','Go']
                            }
                        },
                        methods: {

                        },

                    }
                },

            })
    </script>
</body>
</html>